# 2유형부터

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler
from sklearn.metrics import accuracy_score, f1_score, mean_squared_error

In [2]:
df = sns.load_dataset('titanic')
df.head(3)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True

In [3]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [4]:
df['age'].fillna(df['age'].mean(),inplace=True)
df['embarked'].fillna(df['embarked'].mode()[0], inplace=True)

df.drop(columns=['alive', 'embark_town','alone'], inplace=True)

In [5]:
encoder = LabelEncoder()
df_cat = df.select_dtypes(exclude=np.number)
for col in df_cat.columns:
    df_cat[col] = encoder.fit_transform(df_cat[col])
df[df_cat.columns] = df_cat

In [7]:
train, valid = train_test_split(df, random_state=42, test_size=0.3)

train_y = train['survived']
train_x = train.copy()
train_x.drop(columns=['survived'], inplace=True)

valid_y = valid['survived']
valid_x = valid.copy()
valid_x.drop(columns=['survived'], inplace=True)

In [10]:
model = RandomForestClassifier(random_state=42)

model.fit(train_x, train_y)
pred = model.predict(valid_x)
print("정확도 : ", accuracy_score(pred,valid_y))

정확도 :  0.8059701492537313