In [177]:
import pandas as pd
import numpy as np
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.metrics import accuracy_score, mean_squared_error, f1_score
from sklearn.ensemble import RandomForestClassifier

In [178]:
df = sns.load_dataset('titanic')

In [179]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [180]:
df['age'].fillna(df['age'].mean(), inplace=True)
df['embarked'].fillna(df['embarked'].mode().values[0], inplace=True)
df['embark_town'].fillna(df['embark_town'].mode().values[0], inplace=True)

df.drop(columns=['deck', 'alive'], inplace=True)

In [181]:
encoder = LabelEncoder()

df_cat = df.select_dtypes(exclude=np.number)

for col in df_cat.columns:
    df_cat[col] = encoder.fit_transform(df_cat[col])
df[df_cat.columns] = df_cat

In [182]:
df.corr()['survived'].abs().sort_values()

sibsp          0.035322
age            0.069809
parch          0.081629
embarked       0.167675
embark_town    0.167675
alone          0.203367
fare           0.257307
who            0.325753
pclass         0.338481
class          0.338481
sex            0.543351
adult_male     0.557080
survived       1.000000
Name: survived, dtype: float64

In [183]:
train, test = train_test_split(df, random_state=42)

train_y = train['survived']
train_x = train.copy()
train_x.drop(columns=['survived'], inplace=True)

valid = test['survived']
test.drop(columns=['survived'], inplace=True)

In [184]:
model = RandomForestClassifier(random_state=42)

model.fit(train_x,train_y)
pred = model.predict(test)

print("정확도 : ", accuracy_score(valid, pred))

정확도 :  0.7847533632286996

In [185]:
pred = pd.DataFrame(pred, columns=['survived'])
pred

     survived
0           0
1           0
2           0
3           1
4           0
..        ...
218         1
219         0
220         0
221         1
222         0

[223 rows x 1 columns]

In [186]:
# pred.to_csv('test.csv', index=False)

# 7회차

## 1유형

In [187]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p1.csv')
df.head(5)

     학생    국어    수학    영어    과학
0  ID_0  63.0   NaN  79.0  84.0
1  ID_1  91.0  93.0   NaN  73.0
2  ID_2  59.0  55.0   NaN  56.0
3  ID_3  71.0  83.0  82.0   NaN
4  ID_4  62.0  72.0  56.0   NaN

In [188]:
# 국어,수학,영어,과학 과목 중 가장 많은 학생들이 응시한 시험을 선택하고 해당과목의 점수를 표준화 했을 때 가장 큰 표준화 점수를 구하여라
from scipy.stats import zscore
sub = df.isnull().sum().sort_values().index[1]
ans = zscore(df[sub].dropna()).max()
print(ans)

1.713855688712825

In [189]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p2_.csv')
df.head(5)

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,var_11,var_12,var_13,var_14,var_15,var_16,var_17,var_18,var_19,var_20,var_21,var_22,var_23,var_24,var_25,var_26,var_27,var_28,var_29,var_30,var_31,var_32
0,-0.335864,-2.425701,0.452851,-1.381924,-0.425591,-1.461498,-0.417082,-0.944226,-0.351224,1.474046,1.167691,-1.054375,0.118942,-0.309185,0.511080,0.409288,1.506075,-1.241138,-0.363806,-0.713336,-0.563761,-0.258406,1.715714,0.300227,0.439828,-0.094772,1.551995,3.308446,-0.391377,1.963829,-1.458605,-0.348652
1,0.803535,-0.699433,0.095579,0.788053,-0.267674,-0.370746,0.636034,-1.674584,-0.058465,-1.188973,1.285189,-0.598661,1.241800,1.642265,0.295339,1.739567,0.185418,2.097527,0.304736,-0.161477,2.023696,0.672172,-1.348879,-0.899480,-1.271886,0.333734,-0.373565,-2.091508,-0.715245,-0.688441,0.910927,-0.746899
2,-0.408470,-0.361105,-0.857278,0.338294,2.317821,-0.099928,0.557053,-0.847932,0.973471,0.101203,0.566673,0.845139,0.103693,-0.198625,1.732118,1.168597,1.664781,0.406644,-1.055908,0.275147,-1.201917,-1.038029,-0.388353,0.918553,-1.984422,0.385055,1.161414,-1.280253,2.831802,-0.953771,-0.228466,0.766254
3,-0.690599,0.777928,-0.079963,0.164086,1.721702,0.146761,-0.988636,0.885344,0.647053,0.674609,-0.227789,-0.030563,1.378098,-0.096259,-0.740124,-1.970933,0.508952,-1.719803,0.492262,-0.641031,-1.268461,-0.018690,0.337074,-1.406224,-0.699728,-0.836068,-0.226315,1.260893,-0.781630,-0.219995,0.871289,0.017578
4,0.179819,-0.668267,0.381849,-0.884196,0.758519,-1.026190,0.986227,-1.663167,2.290551,0.564845,0.436362,0.489439,0.889464,-0.298355,2.202697,0.615966,1.502395,0.713682,-1.132290,-0.987826,-0.974980,-2.483120,-0.700137,-0.153825,-1.835313,0.182131,0.890247,0.024791,1.489955,1.276357,-0.285144,1.066486

In [190]:
# 32개의 변수간 상관관계를 확인 했을 때, var_11 컬럼과 상관계수의 절댓값이 가장 큰 변수를 찾아 해당 변수의 평균값을 구하여라
sub = df.corr()['var_11'].abs().sort_values().index[-2]
ans = round(df[sub].mean(),4)
print(ans)

-0.0629

In [191]:
# **var_6 컬럼의 1,3사분위수 각각 IQR의 1.5배 벗어난 이상치의 숫자를 구하라 **
from scipy.stats import zscore
q1 = df['var_6'].quantile(1/4)
q3 = df['var_6'].quantile(3/4)
iqr = q3 - q1
min = q1 - 1.5*iqr
max = q3 + 1.5*iqr

ans = df[(df['var_6']<min) | (df['var_6']>max)]['var_6'].count()
print(ans)

8

## 3유형

In [192]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p3_1.csv')
df.head()

,Target,v1,v2,v3,v4,v5,v6,v7,v8,v9,v10,v11,v12,v13,v14,v15,v16,v17,v18,v19,v20,v21
0,21.650072,0.496714,-0.138264,0.647689,1.523030,-0.234153,-0.234137,1.579213,0.767435,-0.469474,0.542560,-0.463418,-0.465730,0.241962,-1.913280,-1.724918,-0.562288,-1.012831,0.314247,-0.908024,-1.412304,1.465649
1,-19.469855,-0.225776,0.067528,-1.424748,-0.544383,0.110923,-1.150994,0.375698,-0.600639,-0.291694,-0.601707,1.852278,-0.013497,-1.057711,0.822545,-1.220844,0.208864,-1.959670,-1.328186,0.196861,0.738467,0.171368
2,-24.475600,-0.115648,-0.301104,-1.478522,-0.719844,-0.460639,1.057122,0.343618,-1.763040,0.324084,-0.385082,-0.676922,0.611676,1.031000,0.931280,-0.839218,-0.309212,0.331263,0.975545,-0.479174,-0.185659,-1.106335
3,13.476831,-1.196207,0.812526,1.356240,-0.072010,1.003533,0.361636,-0.645120,0.361396,1.538037,-0.035826,1.564644,-2.619745,0.821903,0.087047,-0.299007,0.091761,-1.987569,-0.219672,0.357113,1.477894,-0.518270
4,3.505322,-0.808494,-0.501757,0.915402,0.328751,-0.529760,0.513267,0.097078,0.968645,-0.702053,-0.327662,-0.392108,-1.463515,0.296120,0.261055,0.005113,-0.234587,-1.415371,-0.420645,-0.342715,-0.802277,-0.161286

In [193]:
# 선형관계 가장 큰 변수 찾아 상관계수를 구하여라
ans = df.corr()['Target'].abs().sort_values(ascending=False).values[1]
print(ans)

0.6270251925517436

In [194]:
# Target 변수를 종속변수로 하여 다중선형회귀모델링을 진행했을 때 v2 컬럼의 회귀 계수는?
import statsmodels.api as sm

y = df['Target']
X = df.drop(columns=['Target'])
X = sm.add_constant(X)

model = sm.OLS(y,X).fit()
ans = model.params['v2']
print(ans)

6.4403013648430685

In [195]:
# 회귀 계수들이 가지는 p값들 중 최대 값은?
ans = model.pvalues.max()
print(ans)

0.9265545986907606

In [196]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p3_t.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,1
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

In [197]:
# train 데이터로 target을 종속변수로 로지스틱 회귀를 진행할 때 age 컬럼의 오즈비를 구하여라
import statsmodels.api as sm
y = df['target']
x = df.drop(columns=['target'])

model = sm.Logit(y,x).fit()

odds_ratios = np.exp(model.params['age'])
odds_ratios

Optimization terminated successfully.
         Current function value: 0.356234
         Iterations 7

0.9556117573419104

In [198]:
# train으로 로지스틱 회귀 진행했을 경우 잔차 이탈도 (residual deviance)를 계산하라
import statsmodels.api as sm
y = df['target']
x = df.drop(columns=['target'])

model2 = sm.GLM(y, x, family=sm.families.Binomial()).fit()

# 잔차 이탈도(residual deviance) 계산
residual_deviance = model2.deviance
print(residual_deviance)

211.60310196493367

# 6회차

## 1유형

In [199]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_1.csv')
df.head(5)

,구급보고서번호,소방서명,환자증상구분명1,신고일자,신고시각,출동일자,출동시각,환자직업명,사고발생장소
0,20211122103M01526,중랑소방서,심계항진,20210330,104800,20210330,105042,무직,집
1,20211111105M00771,노원소방서,복통,20210412,225600,20210412,225827,기타,집
2,20211115104M00864,서초소방서,심계항진,20210303,194100,20210303,194500,직장인,상업시설
3,20211113107M01869,마포소방서,고열,20211225,235400,20211226,331,유아,집
4,20211118102M05820,강동소방서,고열,20211019,12100,20211019,12322,무직,집

In [200]:
# 각 구급 보고서 별 출동시각과 신고시각의 차이를 ‘소요시간’ 컬럼을 만들고 초(sec)단위로 구하고 
# 소방서명 별 소요시간의 평균을 오름차순으로 정렬 했을때 3번째로 작은 소요시간의 값과 소방서명을  출력하라
df['소요시각'] = (pd.to_datetime(df['출동일자'].astype('str') + df['출동시각'].astype('str').str.zfill(6))-pd.to_datetime(df['신고일자'].astype('str')+df['신고시각'].astype('str').str.zfill(6))).dt.total_seconds()

ans = df.groupby('소방서명')['소요시각'].mean().sort_values().reset_index().iloc[2].values
print(ans)

['종로소방서' 175.5]

In [201]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_2.csv')
df.head(5)

               학교명  시도  학교세부유형  일반학급_학생수_계  교원수_총계_계
0  서울대학교사범대학부설고등학교  서울  일반고등학교         689        73
1           가락고등학교  서울  일반고등학교         765        70
2           개포고등학교  서울  일반고등학교         684        69
3           경기고등학교  서울  일반고등학교        1047        96
4           경동고등학교  서울  일반고등학교         529        58

In [202]:
# 학교 세부유형이 일반중학교인 학교들 중 일반중학교 숫자가 2번째로 많은 시도의 일반중학교 데이터만 필터하여 
# 해당 시도의 교원 한명 당 맡은 학생수가 가장 많은 학교를 찾아서 해당 학교의 교원수를  출력하라
sub = df[df['학교세부유형'] == '일반중학교']['시도'].value_counts().index[1]
fit = df[(df['학교세부유형'] =='일반중학교') & (df['시도'] ==sub)].reset_index(drop=True)
fit['ans'] = fit['일반학급_학생수_계'] / fit['교원수_총계_계']
fit.sort_values('ans').dropna()
print(fit[fit['학교명'] == '단국대학교사범대학부속중학교']['교원수_총계_계'])

294    33
Name: 교원수_총계_계, dtype: int64

In [203]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_3.csv')
df.head(5)

       범죄분류     절도     사기   배임   방화     폭행
0  2018년_1월  13280  25318  656  143  12186
1  2018년_2월  12504  19159  403  135  12087
2  2018년_3월  14733  24509  471  148  13841
3  2018년_4월  14781  23147  414  135  13973
4  2018년_5월  15988  23584  451  127  14117

In [204]:
# **5대 범죄(절도, 사기, 배임, 방화, 폭행)의 월별 총 발생건수를 총범죄수라고 표현하자. 
# 18,19년의 각각 분기별 총범죄수의 월평균 값을 구했을때 최대값을 가지는 년도와 분기를 구하고 해당 분기의 최댓값의 사기가 발생한 월의 사기 발생건수를  출력하라
# (1분기:1,2,3월 / 2분기 : 4,5,6월 / 3분기 7,8,9월 / 4분기 10,11,12월 , 1분기 월평균 : 1,2,3월의 총범죄수 평균) **

df['총범죄수'] = df['절도'] + df['사기'] + df['사기'] + df['방화'] + df['폭행']
df['분기'] = [x+'_'+str(y) for x in ['2018','2019'] for y in range(1,5) for z in range(3)]

max_ = df.groupby(['분기'])['총범죄수'].mean().sort_values().index[-1] # '2019_02'
result = df[df.분기 ==max_].사기.max()
print(result)

27766

## 3유형

In [205]:
# 도시의 남성 600명과 여성 550명이 있다. 남성들 중 흡연자 비율은 0.2이며 여성들 중 흡연자 비율은 0.26이다.
from scipy.stats import chi2_contingency

# 남성과 여성의 인구 수
total_male = 600
total_female = 550

# 남성과 여성 중 흡연자의 비율
smoking_ratio_male = 0.2
smoking_ratio_female = 0.26

In [206]:
# 남성과 여성 간에 흡연 여부에 따른 인구 비율이 다른지 확인하고 싶다. 
# 유의 수준 0.05하 귀무가설에 대해 기각 / 채택 여부와 p-value값을 각각 출력하라

# 흡연자와 비흡연자의 인구 수 계산
smoking_male = int(total_male * smoking_ratio_male)
non_smoking_male = int(total_male - smoking_male)

smoking_female = total_female * smoking_ratio_female
non_smoking_female = total_female - smoking_female

# 데이터 배열 생성 (빈도로 변환)
data = np.array([[smoking_male, non_smoking_male], [smoking_female, non_smoking_female]])

# 카이제곱 검정 수행
chi2_stat, p_val, dof, expected = chi2_contingency(data)

print('기각',p_val)

기각 0.018786854975740765

In [207]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/28/p7.csv')
df.head()

   age  Cholesterol  weight
0   65         69.0   111.0
1   54        117.0    81.0
2   61         86.2    72.0
3   57         76.0    78.0
4   62        160.0    61.0

In [208]:
# age와 Cholesterol을 가지고 weight를 예측하는 선형 회귀 모델을 만들려고한다. age의 회귀 계수를 구하여라
import statsmodels.api as sm

y = df['weight']
x = df.drop(columns=['weight'])
x = sm.add_constant(x)

model = sm.OLS(y,x).fit()
print(model.params['age'])

-0.03610166914386536

In [209]:
# age가 고정일 때 Cholesterol와 weight가 선형관계에 있다는 가설을 유의수준 0.05하에 검정하라
H = model.pvalues['Cholesterol']

if H <0.05 : 
    print('선형 관계에 있다.')
    
else:
    print('선형 관계에 없다.')

선형 관계에 있다.

In [210]:
# age가 55, Cholesterol가 72.6일때 위 모델을 기반으로 weight값을 예측하라.
ans = model.predict([1,55,72.6])
print(ans[0])

78.8577101134459

# 5회차

## 1유형

In [211]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_1_.csv')
df.head(5)

,시도명,시군구명,종량제봉투종류,종량제봉투처리방식,종량제봉투용도,종량제봉투사용대상,1L가격,1.5L가격,2L가격,2.5L가격,3L가격,5L가격,10L가격,20L가격,30L가격,50L가격,60L가격,75L가격,100L가격,120L가격,125L가격,관리부서명,관리부서전화번호,데이터기준일자,제공기관코드,제공기관명
0,경기도,안양시,규격봉투,매립용,생활쓰레기,사업장용,0,0,0,0,0,150,300,550,0,1400,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
1,경기도,안양시,규격봉투,매립용,생활쓰레기,기타,0,0,0,0,0,150,300,550,0,1400,0,2100,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
2,경기도,안양시,규격봉투,소각용,음식물쓰레기,가정용,0,50,0,80,0,150,300,550,0,0,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
3,경기도,안양시,규격봉투,소각용,음식물쓰레기,사업장용,0,50,0,80,0,150,300,550,0,0,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시
4,경기도,안양시,규격봉투,소각용,음식물쓰레기,기타,0,50,0,80,0,150,300,550,0,0,0,0,0,0,0,자원순환과,031-8045-5448,2022-08-12,3830000,경기도 안양시

In [220]:
# 20L가격과 5L가격이 모두 0원이 아닌 데이터만 필터를 한 후, 각 row별로 20L가격과 5L가격의 차이를 ‘차이가격’ 이라 부른다고 하자. 
# 시도명 별 차이가격의 평균가격을 비교할때 그 값이 가장 큰 금액을 반올림하여 소숫점 이하 1자리까지 구하여라

df_fit = df[(df['5L가격']!=0) & (df['20L가격'] !=0)].reset_index(drop=True)
df_fit['차이가격'] = df_fit['20L가격'] - df_fit['5L가격']
ans = df_fit.groupby('시도명')['차이가격'].mean().sort_values().to_frame()
print(ans.values[-1])

[619.]

In [221]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_2_.csv')
df.head(5)

       ID  height(cm)  weight(kg)
0  user_1       173.0        67.5
1  user_2       149.5        82.5
2  user_3       143.8        64.6
3  user_4       163.1        87.2
4  user_5       159.6        77.1

In [229]:
# BMI는 몸무게(kg) / (키(M) * 키(M)) 로 정의 된다. 
# 초고도 비만은 BMI 25이상 , 고도 비반은 BMI 25미만 - 23이상 , 정상은 23미만 - 18.5이상 저체중은 18.5미만으로 정의 된다. 
# 주어진 데이터에서 초고도비만 인원 + 저체중 인원 의 숫자는?
df['BMI'] = df['weight(kg)'] / pow(df['height(cm)'],2) * 10000
ans = df[(df['BMI']>=25) | (df['BMI']<=18.5)]['ID'].count()
print(ans)

8998

In [230]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p1_3.csv')
df.head(5)

,지역,초등학교_전출_도내,초등학교_전출_도외,초등학교_전입_도내,초등학교_전입_도외,중학교_전출_도내,중학교_전출_도외,중학교_전입_도내,중학교_전입_도외,고등학교_전출_도내,고등학교_전출_도외,고등학교_전입_도내,고등학교_전입_도외,년도
0,종로구,221,132,255,126,63,71,104,73,203,72,166,75,2012
1,중구,295,139,203,100,66,43,58,44,156,37,104,39,2012
2,용산구,380,269,302,174,134,78,91,106,102,66,113,48,2012
3,성동구,643,344,376,221,154,103,98,82,179,37,153,41,2012
4,광진구,560,382,595,312,165,158,158,118,115,70,154,66,2012

In [234]:
# 순유입인원은 초중고 도내,도외 전입인원에서 초중고 도내, 도외 전출인원을 뺀값이다. 
# 각년도별로 가장 큰 순유입인원을 가진 지역구의 순유입인원을 구하고 전체 기간의 해당 순유입인원들의 합을 구하여라
df['초중고_전입'] = df['초등학교_전입_도내'] + df['초등학교_전입_도외'] + df['중학교_전입_도내'] + df['중학교_전입_도외'] + df['고등학교_전입_도내'] + df['고등학교_전입_도외']
df['초중고_전출'] = df['초등학교_전출_도내'] + df['초등학교_전출_도외'] + df['중학교_전출_도내'] + df['중학교_전출_도외'] + df['고등학교_전출_도내'] + df['고등학교_전출_도외']

df['순유입인원'] = df['초중고_전입'] - df['초중고_전출']
ans = df.sort_values(['순유입인원'])
ans = ans.groupby('년도')['순유입인원'].max().sum()
print(ans)

13853

## 3유형

In [235]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_1.csv')
df.head()

       ID  height
0  user_1  164.57
1  user_2  174.99
2  user_3  171.41
3  user_4  162.47
4  user_5  167.11

In [237]:
# 55명 학생들의 키에 대한 표본 평균을 구하여라(반올림하여 소숫점 3째자리까지
from scipy.stats import zscore
print(round(df['height'].mean(),3))

169.937

In [242]:
# t분포 양쪽 꼬리에서의 t 값을 구하여라 (반올림하여 소수4째자리까지)
from scipy.stats import t
n = len(std)

c_l = 0.95
ddof = n -1

t_value = round(t.ppf((1+c_l)/2, ddof), 4)
print(t_value)

2.0049

In [245]:
# 95% 신뢰구간을 구하여라(print(lower,upper) 방식으로 출력, 각각의 값은 소숫점 이하 3째자리까지)
mean = np.mean(df['height'])
std = np.std(df['height'], ddof=1)
lower = round(mean - t_value*std/np.sqrt(n), 3)
upper = round(mean + t_value*std/np.sqrt(n), 3)
print(lower, upper)

168.321 171.553

In [246]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e5_p3_2.csv')
df.head()

  ID      value
0  A  84.179434
1  A  93.971003
2  A  62.140957
3  A  72.911723
4  A  79.252747

In [250]:
# 3 그룹의 데이터에 대해 크루스칼-왈리스 검정을 사용하여 검정 통계량을 반올림하여 소숫점 이하 3자리까지 구하여라
from scipy.stats import kruskal
a = df[df['ID'] == 'A'].value.values
b = df[df['ID'] == 'B'].value.values
c = df[df['ID'] == 'C'].value.values

s, p = kruskal(a,b,c)

round_s = round(s,3)
print(round_s)

6.521

In [252]:
# 3 그룹의 데이터에 대해 크루스칼-왈리스 검정을 사용하여 p-value를 반올림하여 소숫점 이하 3자리까지 구하여라. 
# 귀무가설과 대립가설중 0.05 유의수준에서 유의한 가설을  출력하라
round_p = round(p,3)
print(round_p)
print("대립")

0.038
대립

# 4회차

In [253]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_1.csv')
df.head(5)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.5,2.625,211.350143,8.106

In [264]:
# Temperature컬럼에서 숫자가 아닌 문자들을 제거후 숫자 타입으로 바꾸고 3분위수에서 1분위수의 차이를 소숫점 이하 2자리까지 구하여라
df['Temperature'] = df['Temperature'].str.extract('(\d+\.\d+)').astype(float)

In [265]:
q1 = df['Temperature'].quantile(1/4)
q3 = df['Temperature'].quantile(3/4)
print(round(q3-q1,2))

27.48

In [266]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_2.csv')
df.head(5)

,Title,Video ID,Published At,Keyword,Likes,Comments,Views
0,Apple Pay Is Killing the Physical Wallet After...,wAZZ-UWGVHI,2022-08-23,tech,3407.0,672.0,135612.0
1,The most EXPENSIVE thing I own.,b3x28s61q3c,2022-08-24,tech,76779.0,4306.0,1758063.0
2,My New House Gaming Setup is SICK!,4mgePWWCAmA,2022-08-23,tech,63825.0,3338.0,1564007.0
3,Petrol Vs Liquid Nitrogen | Freezing Experimen...,kXiYSI7H2b0,2022-08-23,tech,71566.0,1426.0,922918.0
4,Best Back to School Tech 2022!,ErMwWXQxHp0,2022-08-08,tech,96513.0,5155.0,1855644.0

In [267]:
# Likes를 Comments로 나눈 비율이 20이상이면서 Keyword값이 minecraft인 영상들의 Views값의 평균을 정수로 구하여라
ans = df[(df['Likes']/df['Comments'] >= 20) & (df['Keyword'] == 'minecraft')]
print(ans['Views'].mean())

1789084.2424242424

In [296]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_3.csv')
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [297]:
# date_added가 2018년 1월 이면서 country가 United Kingdom 단독 제작인 데이터의 갯수
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')
ans = df[(df['date_added'].dt.year == 2018) & (df['date_added'].dt.month == 1)]
print(ans[ans['country'] == 'United Kingdom'].shape[0])

5

## 3유형

In [299]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p3_1_.csv')
df.head()

         학번     학과 성별
0  DFSKJK_1   경영학과  여
1  DFSKJK_2   사회학과  여
2  DFSKJK_3  기계공학과  여
3  DFSKJK_4   경제학과  남
4  DFSKJK_5  기계공학과  여

In [307]:
# 학과 평균 인원에 대한 값을 소숫점 이하 3자리까지 구하여라
ans = df.groupby('학과').size().mean()
print(ans)

170.33333333333334

In [310]:
# 카이제곱검정 독립성 검정 통계량을 소숫점 이하 3자리까지 구하여라
from scipy.stats import chi2_contingency

ans = pd.crosstab(df['학과'], df['성별'])
s, p, a, b = chi2_contingency(ans)

print(round(s,3))

5.646

In [312]:
# 카이제곱검정 독립성 검정의 pvalue를 소숫점 이하 3자리까지 구하여라. 유의수준 0.05하에서 귀무가설과 대립가설중 유의한 것을 출력하라
print(round(p,3))
print("귀무가설")

0.342
귀무가설

In [313]:
# 어느 학교에서  수학 시험을 본 학생 100명 중 60명이 60점 이상을 받았다. 
# 이 학교의  수학 시험의 평균 점수가 50점 이상인지 95%의 신뢰 수준에서 검정하려한다.
n = 100
p_hat = 0.6
p = 0.5
alpha = 0.05

# 검정 통계량 계산
z = round((p_hat - p) / np.sqrt(p * (1 - p) / n),5)
print(z)

2.0

In [ ]:
# 검정 통계량을 소숫점 이하 3자리에서 구하시오

In [314]:
from scipy.stats import norm
p_value = round(1 - norm.cdf(z),3)

print(p_value)
print('대립')

0.023
대립